/BlackJack/build/
/BlackJack/nbproject/private/
/EjemplosMapas/build/
/EjemplosMapas/nbproject/private/
/Ejercicios adicionales tema 5/nbproject/private/
/EjerciciosAdicionalesTema5/nbproject/private/
/Electrodomesticos/nbproject/private/
/Hoja10_Daniel/nbproject/private/
/Hoja12/nbproject/private/
/Hoja15/nbproject/private/
/Hoja17-123/nbproject/private/
/Hoja17/nbproject/private/
/Hoja18/nbproject/private/
/PreparacionExamen4y5/nbproject/private/
/Prog03_Ejerc2/nbproject/private/
/PruebaDeCobertura/nbproject/private/
/Taller/nbproject/private/
/Tarea4/nbproject/private/
/TareaPROG04/build/
/TareaPROG04/nbproject/private/
/Tareas/nbproject/private/
/hoja16/nbproject/private/
/pruebas/nbproject/private/
/Hoja18/build/
/Nueva carpeta/Tema_6_Tarea_7/nbproject/private/
/Tema_6_Tarea_7/nbproject/private/
/Tema_6_Tarea_7/build/
/Ejercicios_adicionales_de_datos_y_flujos/nbproject/private/
/Ejercicios_adicionales_de_datos_y_flujos/build/
/SwingPracticas/nbproject/private/
/SwingPracticas/build/
/Calculadora/nbproject/private/
/Calculadora/build/
